<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title -  Cape INC</title>


    <link rel="icon" type="image/png" href="~/Images/icono.png" />
    @Styles.Render("~/Content/login")



</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @RenderBody()

                <div class="login100-more">
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/login")
    @RenderSection("scripts", required: false)
</body>
</html>