@model IEnumerable<WebApplication.Entities.User>
@{
    ViewBag.Title = "Index";


}

@Styles.Render("~/bundle/DataTablesCSS")
@Styles.Render("~/bundle/jqueryui")

<div class="mjsbox ">
    <div class="message alertVB hide"><p class="text-center">@ViewBag.Message</p></div>
    <div class="error alertVBE hide"><p class="text-center">@ViewBag.ErrorMessage</p></div>
</div>





<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @*<a href="@Url.Action("Create","User")" class="btn btn-primary pull-right">Create User</a>*@
        <br /><br />

        <div class="panel panel-primary">
            <div class=" panel-heading text-center">
                <h3 class="panel-title negrita">USERS</h3>
            </div>

            <div class="panel panel-body bs-component table-responsive">
                <table id="tblUsers" class="table  table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="display:none">

                            </th>
                            <th style="display:none">

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.name)
                            </th>
                            <th class="hideColumn">
                                @Html.DisplayNameFor(model => model.userName)
                            </th>
                            <th class="hideColumn">
                                @Html.DisplayNameFor(model => model.email)
                            </th>
                            <th class="hideColumn">
                                @Html.DisplayNameFor(model => model.autorize)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.rol.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.userAconting)
                            </th>
                            <th class="hideColumn">
                                @Html.DisplayNameFor(model => model.LastDate)
                            </th>

                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td style="display:none">
                                        @Html.DisplayFor(modelItem => item.UserId)
                                    </td>
                                    <td style="display:none">
                                        @Html.DisplayFor(modelItem => item.password)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td class="hideColumn">
                                        @Html.DisplayFor(modelItem => item.userName)
                                    </td>
                                    <td class="hideColumn">
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td class="hideColumn">
                                        @Html.DisplayFor(modelItem => item.autorize)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.rol.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.userAconting)
                                    </td>
                                    <td class="hideColumn">
                                        @Html.DisplayFor(modelItem => item.LastDate)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "User", new { userName = item.userName })">
                                            <i class="glyphicon glyphicon-pencil"></i>
                                        </a>
                                        |
                                        @if (item.autorize && item.email != "0001/01/01")
                                        {
                                            <button class="btn btn-xs btn-default ToolTip-explode" data-toggle="modal" data-target="#myModal" title="Send Email" onclick="showNotify('@item.userName','@item.password', '@item.email')">
                                                <i class="glyphicon glyphicon-send"></i>
                                            </button>
                                        }


                                    </td>

                                </tr>
                            }
                        }
                    </tbody>

                </table>
                <br />

                <div class="well">
                    <h4>DataTables with Information for Employee</h4>
                    <p>DataTables is a very flexible, advanced tables plugin for jQuery. </a>.</p>

                </div>

            </div>

        </div>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Send Email</h4>
            </div>
            <div class="modal-body">
                <div>@Html.Hidden("hd_user")</div>
                <div>@Html.Hidden("hd_pass")</div>
                <div>@Html.Hidden("hd_email")</div>

                <div class="row">
                    <div class="col-lg-12">
                        <label class="lblModal control-label"></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <input class="chbxAddEmail" type="checkbox" />Add another email address
                    </div>

                    <div class="col-lg-7">
                        <input type="email" class="hide otherEmail form-control input-sm" placeholder="Email" />
                        <span class="hide text-danger spnEmail"></span>
                    </div>
                </div>

                <div id="loader" class="hide loader">
                    <img src="~/Images/loader.gif" class="imgLoader" />
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btnSendEmail btnSend btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/DataTablesJS")
    @Scripts.Render("~/bundles/SendEmail")
}
